@page
@using WebApplication1;
@using DbWork
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model IndexModel
@{
    ViewData["Title"] = "Сомнительная страницв";
}


<div class="text-center">
    <h1>Заходи не бойся, уходи не плачь</h1>
    <h1>Дримтим</h1>
    <h1>@Model.Lalala</h1>
   
    <table class="table">
        @foreach (var item in DBWork.GetUsers())
        {
            <tr>
                <td>
                    @item.Id
                    <form asp-page-handler="Delete" asp-route-id="@item.Id" method="post">
                        <button class="btn btn-default">delete</button>
                    </form>
                </td>

                <td>@item.Name </td>

                <td>
                    <form asp-page-handler="AddKaka" asp-route-id="@item.Id" method="post">
                        <button class="btn btn-default">+</button>
                    </form>
                    @item.Kaka
                    <form asp-page-handler="RemoveKaka" asp-route-id="@item.Id" method="post">
                        <button class="btn btn-default">-</button>
                    </form>
                </td>
            </tr>
        }
    </table>

    <h2>Добавка</h2>
    <p>Введите имя пользователя и его ID</p>
    <form method ="post">
        <label for ="name">Имя</label><br />
        <input type="text" name="name" id="name" /><br /><br />
        <label for="id">АйИди</label><br />
        <input type="number" name="id" id="id" /><br /><br />
        <input type="submit" value="Прищучить" asp-page-handler="Add" />
    </form>

   @* <h2>Убавка</h2>
    <p>Введите ID пользователя</p>
    <form method="post">
        <label for="id">АйИди</label><br />
        <input type="number" name="id" id="id" /><br /><br />
        <input type="submit" value="Испепелить" asp-page-handler="Delete" />
    </form>

    <h2>Замена</h2>
    <p>Введите ID пользователя и его новое имя</p>
    <form method="post">
        <label for="id">АйИди</label><br />
        <input type="number" name="id" id="id" /><br /><br />
        <label for="name">Имя</label><br />
        <input type="text" name="name" id="name" /><br /><br />
        <input type="submit" value="Махнуть" asp-page-handler="Change" />
    </form>

    <h2>Метание каках</h2>
    <p>Введите ID пользователя</p>
    <form method="post">
        <label for="id">АйИди</label><br />
        <input type="number" name="id" id="id" /><br /><br />
        <input type="submit" value="+" style="height:20px; width:20px; padding:0; border:0" asp-page-handler="AddKaka" />
        <input type="submit" value="-" style="height:20px; width:20px; padding:0; border:0" asp-page-handler="RemoveKaka" />
    </form>
</div>*@
